footer.footer
    h2.footer__title sigue el festival en nuestras redes
    a.footer__button(target="_blank", href="https://cristal.cl") ir a cristal.cl
    ul.footer__social
        li
            a(target="_blank", href="https://www.facebook.com/CervezaCristalOficial")
                i.fa.fa-facebook
        li
            a(target="_blank", href="https://twitter.com/cervezacristal") 
                i.fa.fa-twitter
        li
            a(target="_blank", href="https://www.instagram.com/cervezacristal/") 
                i.fa.fa-instagram
    a.footer__legal(target="_blank", href="https://google.com") bases legales
