footer.footer
    h2.footer__title sigue el festival en nuestras redes
    a.footer__button(href="#") ir a cristal.cl
    ul.footer__social
        li
            a(href="#") 
                i.fa.fa-facebook
        li
            a(href="#") 
                i.fa.fa-twitter
        li
            a(href="#") 
                i.fa.fa-instagram
    a.footer__legal(href="#") bases legales
