header.header
    a.header__link(target="_blank", href="https://cristal.cl") ir a cristal.cl
    .header__wrapper
        ul.header__social
            li
                a(target="_blank", href="https://www.youtube.com/user/cristalonline")
                    i.fa.fa-youtube
            li
                a(target="_blank", href="https://www.facebook.com/CervezaCristalOficial")
                    i.fa.fa-facebook
            li
                a(target="_blank", href="https://twitter.com/cervezacristal")
                    i.fa.fa-twitter
            li
                a(target="_blank", href="https://www.instagram.com/cervezacristal/")
                    i.fa.fa-instagram
    
