header.header
    a.header__link(href="") ir a cristal.cl
    .header__wrapper
        p.header__text informate de bases y condiciones antes de comprar tu entrada
        a.header__button(href="#") ver bases legales
        ul.header__social
            li
                a(href="#")
                    i.fa.fa-youtube
            li
                a(href="#")
                    i.fa.fa-facebook
            li
                a(href="#")
                    i.fa.fa-twitter
            li
                a(href="#")
                    i.fa.fa-instagram

    .header__hamburguer
        i.material-icons help_outline 
    
