extends _layouts/base

block content
    main.home
        section.home__hero
            .home__hero__data
                h2.home__hero__title este verano nos volvemos a juntar con la mejor música
                .home__hero__image
                    img(src='images/logo.png')
                button.home__hero__button preventa de entradas 7 de diciembre
        .home__main
            .home__main__wrapper
                section.home__main__container.home__main__container--video
                    .home__main__title-container
                        img(src='images/splatter.png')
                        h2.home__main__title vive la experiencia
                    .home__main__video
                        iframe(src='https://www.youtube.com/embed/_I1S1C6GO-o' frameborder='0')
                section.home__main__lineup
                    .home__main__title-container.home__main__title-container--lineup
                        img(src='images/splatter.png')
                        h2.home__main__title.home__main__title--lineup line up
                    .home__main__lineup-container
                        .home__main__lineup-text
                            span cultura profética • rombai
                            br
                            span • 
                            | chancho en piedra 
                            br
                            span •
                            |  dj who
                            br
                            span •
                            |  francisca valenzuela
                            br
                            span •
                            |  moral distraída
                            br
                            span •
                            |  movimiento original
                section.home__cta
                    .home__cta__title-container
                        img(src='images/splatter.png')
                        h2.home__cta__title festivales
                    .home__cta__wrapper
                        .home__cta__column
                            p.home__cta__ciudad coquimbo
                            p.home__cta__fecha 9 febrero
                            p.home__cta__text 14:00 horas
                            p.home__cta__text club de golf pan de azúcar
                            a.home__cta__button 
                                |comprar entradas 
                                br
                                |coquimbo
                        .home__cta__column
                            p.home__cta__ciudad pucón
                            p.home__cta__fecha 13 febrero
                            p.home__cta__text 14:00 horas
                            p.home__cta__text eco parque pucón
                            a.home__cta__button
                                |comprar entradas
                                br
                                |pucón
                        .home__cta__column
                            p.home__cta__ciudad viña del mar
                            p.home__cta__fecha 16 febrero
                            p.home__cta__text 14:00 horas
                            p.home__cta__text sporting valparaiso
                            a.home__cta__button
                                |comprar entradas
                                br
                                |viña del mar
                
                section.home__main__container.home__main__container--information
                    h2.home__main__title información entradas
                    p.home__main__text 
                        |Evento para mayores de 18 años
                        br
                        |Al momento de ingresar al festival, debes llevar tu cédula de indentidad para acreditar tu edad.
                        br
                        span ¡Juntate con tus amigos y obten descuento en tus entradas!
                    .home__main__col--tables
                        .home__main__col
                            .home__main__row
                                p.home__main__subtitle.home__main__subtitle--color preventa 1
                                p.home__main__comment.home__main__comment--color 
                                    | desde el 7 de diciembre a las 12:00 HRS
                                    br
                                    | al 7 de enero a las 23:59 hrs
                            .home__main__row
                                p.home__main__subtitle entrada general
                                p.home__main__number  $15.000
                                p.home__main__comment no incluye cargo por servicio
                            .home__main__row
                                p.home__main__subtitle promo juntemonos (4x3)
                                p.home__main__number $45.000
                                br
                                p.home__main__subtitle.home__main__subtitle--secondary precio final por persona
                                p.home__main__number.home__main__number--secondary $11.250
                                p.home__main__comment no incluye cargo por servicio
                        .home__main__col
                            .home__main__row
                                p.home__main__subtitle.home__main__subtitle--color preventa 2
                                p.home__main__comment.home__main__comment--color 
                                    | desde el 8 de enero
                                    br
                                    | al 4 de febrero a las 23:59 hrs
                            .home__main__row
                                p.home__main__subtitle entrada general
                                p.home__main__number  $18.000
                                p.home__main__comment no incluye cargo por servicio
                            .home__main__row
                                p.home__main__subtitle promo juntemonos (4x3)
                                p.home__main__number $54.000
                                br
                                p.home__main__subtitle.home__main__subtitle--secondary precio final por persona
                                p.home__main__number.home__main__number--secondary $13.500
                                p.home__main__comment no incluye cargo por servicio
                        .home__main__col
                            .home__main__row
                                p.home__main__subtitle.home__main__subtitle--color venta
                                p.home__main__comment.home__main__comment--color 
                                    | desde el 5 de febrero
                                    br
                                    | hasta agotar stock
                            .home__main__row
                                p.home__main__subtitle entrada general
                                p.home__main__number  $20.000
                                p.home__main__comment no incluye cargo por servicio
                            .home__main__row
                                p.home__main__subtitle promo juntemonos (4x3)
                                p.home__main__number $60.000
                                br
                                p.home__main__subtitle.home__main__subtitle--secondary precio final por persona
                                p.home__main__number.home__main__number--secondary $15.000
                                p.home__main__comment no incluye cargo por servicio
                    .home__main__col.home__main__col--buttons
                        a.home__main__button revisa bases y condiciones antes de comprar tu entrada
                        a.home__main__button comprar entradas
                    p.home__main__conditions * Los asistentes autorizan a CCU CHILE para utilizar sus imágenes y/o voces con fines comerciales y/o publicitarios para la marca Cristal, permitiendo que se les fotografíe y graben en el festival
                    p.home__main__conditions * La modificación de la grilla de artistas o no presentación de alguno de pestos no implicará la cancelación del festival, ni dará derecho a la devolución de entradas
                    p.home__main__conditions * Capacidad por recinto(Info por confirmar).

                section.home__main__container.home__main__container--spotify
                    .home__main__title-container
                        img(src='images/splatter.png')
                        .home__main__image.home__main__image--spotify
                            img(src='images/spotify-logo.png')
                        h2.home__main__title.home__main__title--spotify prepàrate con nuestra playlist
                    p.home__main__subtitle ¡escucha ahora nuestra playlist en spotify!
                    .home__main__spotify-playlist
                        iframe(src="https://open.spotify.com/embed/user/cervezacristalchile/playlist/1zWkXuHTT9qDhzUzdIwVUw" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media")
